<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014358974664-3kcibaaj2tbh3lbt8o2g20o4dave4l1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014358974664-3kcibaaj2tbh3lbt8o2g20o4dave4l1d</string>
	<key>API_KEY</key>
	<string>AIzaSyDXSWizeM_iFYpdJe8mXGDTvaO0c7kAGnU</string>
	<key>GCM_SENDER_ID</key>
	<string>1014358974664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.share</string>
	<key>PROJECT_ID</key>
	<string>share-app-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>share-app-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014358974664:ios:5b422653bf9aadbb91c5fd</string>
	<key>DATABASE_URL</key>
	<string>https://share-app-mobile-default-rtdb.firebaseio.com</string>
</dict>
</plist>